<div class="navbar">
  <nav class="navbar-inner">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to "Translate", lit.localization_keys_path %></li>
        <li><%= link_to "Synchronize", lit.sources_path %></li>
        <li><%= link_to "Locales", lit.locales_path %></li>
      </ul>
    </div>
  </nav>
</div>
